.form-parameters{
    width: 40rem;
    max-width: 100%;
    margin: auto;
    position: relative;
    border-style: dashed;
    border-color: #cbd5e1;
    background-color: #f8fafc;
    border-width: 2px;
    border-radius: 1rem;
    padding: 1rem 1rem 0  1rem;
    > div{
        margin-bottom: 1rem;
    }
}

.next-button{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    #button{
        width: 40rem;
        height: 3rem;
        border-radius: 1rem;
        border: none;
        background-color: #2d3748;
        color: #ffffff;
        font-size: 1rem;
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
    }
}