.slider-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    left: 1rem;
    z-index: 1000;
    padding: 0.5rem;
}

.slider {
    width: 40vw;
    height: 15px;
    background: #555;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    appearance: none;
}

.slider-value {
    margin: 10px 0;
    font-weight: bold;
}